## Read data

In [1]:
from os import listdir

In [8]:
comments_batch = []
for file_name in listdir('comments'):
    with open('comments/'+file_name, 'r') as f:
        comments_batch.append(eval(f.read()))

In [9]:
file_name

'23742136'

In [10]:
from unidecode import unidecode
from re import sub

In [11]:
with open('polish.stopwords.txt', 'r') as f:
    stop_words = f.read().split('\n')

## Extract article content and url

In [19]:
all_articles = []
for j in comments_batch:
    tmp = ({
        'url': j['row']['comments']['url']
    })
    
    for data_column in ['author', 'content', 'title', 'division', 'highlight', 'media_desc', 'media_type']:
        if j['row']['comments'][data_column]:
            no_polish_letters = unidecode(j['row']['comments'][data_column])
            no_special_chars  = sub(r"[^a-z| ]", "", no_polish_letters.lower())
            no_stop_words     = " ".join([word.strip() for word in no_special_chars.split(' ') if word.strip() not in stop_words])
            tmp[data_column] = no_stop_words
    all_articles.append(tmp)

In [20]:
import pandas as pd

In [21]:
articles = pd.DataFrame(all_articles)

In [22]:
articles.head(4)

,author,content,division,highlight,media_desc,media_type,title,url
0,leszek kostrzewski,najwyzsza izba kontroli zwraca uwage problem z...,zus emerytura,tysiace polakow zanizone emerytury wystapilo z...,osob maja dopisanych skladek emerytalnych czas...,image,nik alarmuje polacy maja zanizone emerytury,"http://wyborcza.biz/biznes/7,147880,23632593,n..."
1,maciej stasinski,kryzys katalonski zazegnany parlament barcelon...,swiat,nowy premier obiecuje dazyc oderwania kataloni...,parlament barcelonie zatwierdzil quima torre n...,image,katalonia premiera parlament barcelonie przegl...,"http://wyborcza.pl/7,75399,23398351,katalonia-..."
2,uj,sokol wedrowny najrzadszych gatunkow polsce na...,wiadomosci wroclawia,trzy mlode samce samica sokolow wedrownych wyl...,mlode sokoly wedrowne lasach miliczem,image,sokoly maja mlode sukces naleza jednego najrza...,"http://wroclaw.wyborcza.pl/wroclaw/7,35771,234..."
3,ujkoz,aktualizacja niedziele godz odbyly ostatnie ne...,strajk nauczycieli,niedziele godz odbyly rozmowy ostatniej szansy...,wroclaw wspiera nauczycieli demonstracja pregi...,image,wroclaw wspiera nauczycieli demonstracja pregi...,"http://wroclaw.wyborcza.pl/wroclaw/7,35771,246..."

In [23]:
articles.groupby('media_type').count()

                author  content  division  highlight  media_desc  title    url
media_type
image            20454    20459     20455      20460       18152  20460  20460
multipleimages     407      408       407        407         356    407    408
video              585      586       586        586         586    586    586

In [9]:
len(articles)

21454

In [10]:
articles = articles.dropna()

In [11]:
len(articles)

19087

In [12]:
articles.to_csv('processed_articles.csv', index = False)