In [20]:
import pandas as pd

In [24]:
df = pd.read_csv('processed_articles.csv')

In [25]:
df.head(5)

,content,division,highlight,media_desc,title,url
0,najwyzsza izba kontroli zwraca uwage problem z...,zus emerytura,tysiace polakow zanizone emerytury wystapilo z...,osob maja dopisanych skladek emerytalnych czas...,nik alarmuje polacy maja zanizone emerytury,"http://wyborcza.biz/biznes/7,147880,23632593,n..."
1,kryzys katalonski zazegnany parlament barcelon...,swiat,nowy premier obiecuje dazyc oderwania kataloni...,parlament barcelonie zatwierdzil quima torre n...,katalonia premiera parlament barcelonie przegl...,"http://wyborcza.pl/7,75399,23398351,katalonia-..."
2,sokol wedrowny najrzadszych gatunkow polsce na...,wiadomosci wroclawia,trzy mlode samce samica sokolow wedrownych wyl...,mlode sokoly wedrowne lasach miliczem,sokoly maja mlode sukces naleza jednego najrza...,"http://wroclaw.wyborcza.pl/wroclaw/7,35771,234..."
3,aktualizacja niedziele godz odbyly ostatnie ne...,strajk nauczycieli,niedziele godz odbyly rozmowy ostatniej szansy...,wroclaw wspiera nauczycieli demonstracja pregi...,wroclaw wspiera nauczycieli demonstracja pregi...,"http://wroclaw.wyborcza.pl/wroclaw/7,35771,246..."
4,rok temu wojewoda wielkopolski zbigniew hoffma...,wiadomosci poznania,ostateczna decyzja nazwa ul lutego wrocic mape...,poznaniu najwieksze kontrowersje wzbudzila zmi...,poznaniu powroci ul lutego wojewoda zbigniew h...,"http://poznan.wyborcza.pl/poznan/7,36001,24162..."